.gallery {
    width: 400px;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.gallery-img {
    position: absolute;
    top: -100%;
    left: 0;
    width: 400px;
    height: 250px;
}
.gallery-img.animation {
    -webkit-transition: left 0.3s ease-out;
    -moz-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
}

.left {
    top: 0 !important;
    left: -100%;
}
.active {
    top: 0;
    left: 0 !important;
}
.right {
    top: 0 !important;
    left: 100%;
}


.navigation {
    text-align: center;
}